body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.slider {
    margin: 0 auto;
    /* display: flex;
    align-items: center; */
    position: relative;
}
span {
    font-size: 100px;
    cursor: pointer;
    color: black;
    position: absolute;
    user-select: none;
    color: white;
    width: 100%;
}
img {
    max-width: 100%;
}

#prethodna {
    left: 10px;
}
#sledeca {
    right: 10px;
}
p {
    padding: 15px;
    margin: 0 auto;
}
